<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <div class="container">
            <h1>Jon-Daniel Coombs</h1>
                <p> 
                    I am Jon-Daniel Coombs, an enthusiastic and passionate 19-year old aspiring to become a UI/UX Designer and currently pursuing a B.Sc.Degree in Computer Science at the University of the West Indies. From a young age, I have always been obsessed with the design of technology and so throughout the years, I have come to realize that nothing beats designing a product that not only solves a persistent problem but is also aesthetically pleasing to the eyes of others and welcomes them to use it and with the advancement of the society this need becomes even more prevalent. This has inspired me to, with the combination of technology and design create websites and apps that give a user a satisfying experience while solving the problems of the user.   </p>
            </div>           
    </div>

</body>
</html>